* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle, #2689ed 37%, #243b99 100%);
}

header {
    text-align: center;
    font-size: 28pt;
    font-family: lucida calligraphy;
    padding: 15px;
    margin-bottom: 35px;
}

#title {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    width: 50%;
    border: 3px dotted #243b99;
    border-radius: 10px;
}

#date {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    width: 35%;
    border: 3px dotted #243b99;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px;
    margin-top: 55px;
}

button {
    width: 25%;
    padding: 5px;
    border-radius: 15px;
    background-color: #375beb;
    border: 3px dotted #243b99;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

textarea {
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 50%;
    height: 75px;
    border: 3px dotted #243b99;
    border-radius: 10px;
    resize: vertical;
}